.comments{
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
}

.comments img{
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.commentsContent{
    background-color: var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
}

.commentsContent p{
    margin-top: 1rem;
}

.commentsContent img{
    width: 18rem;
    object-fit: cover;
    height: auto;
    border-radius: 8px;
}

.comments a{
    text-decoration: none;
    color: var(--gray-100);
}

.comments a:hover{
    color: var(--green-500);
}